<header role="banner">
  <div class="header1">
    <div class="wrapper text-right">
      <ul class="list-group-inline push-0 pico">
        <li class="valign-middle"><a class="gutter-1-4 link-dark" href="#"><span class="icon-label">Account</span><i class="icon i-1-2 gutter-1-2 push-l-1-2 valign-middle"><svg><use xlink:href="/images/icons.svg#account"/></svg></i></a></li>
        <li class="valign-middle"><a class="gutter-1-4 link-dark" href="#"><span class="icon-label">Search</span><i class="icon i-1-2 gutter-1-2 push-l-1-2 valign-middle"><svg><use xlink:href="/images/icons.svg#search"/></svg></i></a></li>
        <li class="valign-middle"><a class="gutter-1-4 link-dark" href="/checkout/"><span class="icon-label">Bag</span><i class="icon i-1-2 gutter-1-2 push-l-1-2 valign-middle"><svg><use xlink:href="/images/icons.svg#bag"/></svg></i></a></li
      </ul>
    </div>
  </div>
  <div class="header2 wrapper">
    <a class="pad-t-1-2 pad-b-1-4 ib push-1-4" href="/"><i class="icon i-18"><img src="/images/logo-64.svg" alt="#"></i><h1 class="micro header-name push-0 inline gutter-1-4 valign-middle">Maison</h1></a>
    <nav class="" role="navigation" id="nav">
      <ul class="list-group-inline text-center push-0 pico">
        <li class="{% if page.highlight_nav == 'news' %}current{% endif %}"><a class="gutter-1-4" href="#">New</a></li>
        <li class="{% if page.highlight_nav == 'products' %}current{% endif %}"><a class="gutter-1-4" href="/products/">Shop</a></li>
        <li class="{% if page.highlight_nav == 'blog' %}current{% endif %}"><a class="gutter-1-4" href="#">Blog</a></li>
        <li class="{% if page.highlight_nav == 'showroom' %}current{% endif %}"><a class="gutter-1-4" href="#">Showroom</a></li>
        <li class="{% if page.highlight_nav == 'contact' %}current{% endif %}"><a class="gutter-1-4" href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
